/* app styles */

div.lightbox {
	z-index: 999;
}

div.lightbox-overlay {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.75);
	z-index: 999;
}

div.lightbox-outer {
	width: 90%;
	height: 90%;
	max-width: 1168px;
	position: fixed;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	background: #fff;
	z-index: 999;
	overflow-y: auto;
}

div.lightbox-inner {
	padding: 1.5rem 3rem;
	z-index: 999;
}

span.toggle-lightbox {
	color: #e74c3c;
	cursor: pointer;
}

span.toggle-lightbox:hover {
	text-decoration: underline;
}

div.background {
	position: relative;
	white-space: nowrap;
	cursor: pointer;
}

@-ms-keyframes pulse {
	0% {
		-ms-transform: scale(1);
		opacity: 0.0;
	}
	25% {
		-ms-transform: scale(1);
		opacity: 0.1;
	}
	50% {
		-ms-transform: scale(1.2);
		opacity: 0.3;
	}
	75% {
		-ms-transform: scale(2);
		opacity: 0.5;
	}
	100% {
		-ms-transform: scale(2.6);
		opacity: 0.0;
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		opacity: 0.0;
	}
	25% {
		-webkit-transform: scale(1);
		opacity: 0.1;
	}
	50% {
		-webkit-transform: scale(1.2);
		opacity: 0.3;
	}
	75% {
		-webkit-transform: scale(2);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: scale(2.6);
		opacity: 0.0;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 0.0;
	}
	25% {
		transform: scale(1);
		opacity: 0.1;
	}
	50% {
		transform: scale(1.2);
		opacity: 0.3;
	}
	75% {
		transform: scale(2);
		opacity: 0.5;
	}
	100% {
		transform: scale(2.6);
		opacity: 0.0;
	}
}

div.point {
	position: absolute;
	transform: translate(-50%);
}

div.point div.pulse {
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	border: 3px solid #F9D423;
	-webkit-animation: pulse 1.6s ease-out;
	animation: pulse 1.6s ease-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

div.point.active div.pulse,
div.point.complete div.pulse {
	border: 3px solid transparent;
}

div.point button {
	position: relative;
	height: 1rem;
	width: 1rem;
	background: transparent;
	padding: 0;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	border: 0;
	border: 3px solid #F9D423;
	z-index: 4;
}

div.point.complete button {
	border: 3px solid #B3E5FC;
}

div.point button:hover,
div.point button:focus,
div.point.active button  {
	background: #FFC107;
	box-shadow: 0 0 3px #FFC107;
	outline: none;
}

div.point.complete button:hover {
	background: #4FC3F7;
}

div.point.complete button:focus,
div.point.complete button  {
	background: #81D4FA;
	box-shadow: 0 0 3px #81D4FA;
	outline: none;
}

div.popup {
	position: absolute;
	background: #fff;
	padding: 0 1.5rem;
	border-radius: 2px;
	z-index: 3;
	height: auto;
	width: 258px;white-space: normal;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-transition: height .8s, width .8s;
    transition:  height .8s, width .8s;
	-ms-transform: translate(-50%, -120%);
	-webkit-transform: translate(-50%, -120%);
	transform: translate(-50%, -120%);
}

div.popup:after {
    content: "";
    position: absolute;
    z-index: 4;
    bottom: -14px;
    left: 50%;
    border-width: 16px 16px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

div.popup.expanded {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 90%;
	height: 90%;
	max-width: 768px;
	max-height: 480px;
	margin: auto;
	overflow: hidden;
	overflow-y: auto;
	cursor: pointer;
	-webkit-transition: height .8s, width .8s;
    transition:  height .8s, width .8s;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
}

div.popup.expanded:after {
	display: none;
}

div.popup.expanded h2 {
	margin-bottom: 1rem;
}

div.popup:not(.expanded) div.invisible-clear-button {
	display: none;
}

div.popup.expanded div.invisible-clear-button {
	display: block;
	z-index: 4;
}

div.invisible-clear-button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.pure-button {
	color: #fff;
}

.pure-button-regular {
	background-color: #03A9F4;
}

.encourage {
	background-color: #4CAF50;
}

.hinder {
	background-color: #F44336;
}