<div ng-controller="HomeCtrl">
<div class="modalBox">
			<div class="modal-title">
            	<h3 class="pull-left">Help Menu</h3>
            	<button class="btn btn-primary btn-md pull-right" ng-click="ok()" uib-tooltip="Close"><i class="fa fa-times"></i></button>   </div>

		  <br/>

			<h3 class="text-center"><strong>Map Key</strong></h3>
			<table class="table table-striped table-responsive">
			<tr>
				<td>
					<i class="fa fa-map-marker">
				</td>
				<td>
					City Marker: Shows the name of the City for past and present.
				</td>
			</tr>
			<tr>
				<td>
					<i class="fa fa-star">
				</td>
				<td> 
					Historical Site button
				</td>
			</tr>
		</table>

		<p><strong>Information</strong></h3></p>
		<p>To use this interactive map, click the red marker and it will open the selected region. Once the selected area is opened, click the yellow stars to view each historical site.
		</p>

</div>
</div>