<div class="lightbox" ng-show="data.caseStudyLightbox">
  <div class="lightbox-overlay" ng-click="toggleLightbox()">
  </div>
</div>
<div class="container">
<div class="row">
  <div class="pure-g">
    <div class="pure-u-1">
    <div class="col-md-12">
      <h4 class="pull-left visible-lg visible-md"><strong>{{data.appTitle}}</strong></h4>
      <h6 class="pull-left visible-sm visible-xs"><strong>{{data.appTitle}}</strong></h6>
      </div>
      
        <!--<div class="col-md-12"><p>{{data.intro}}</p></div>-->
        <!-- <br>(<span class="toggle-lightbox" ng-click="toggleLightbox()">Click this link to review the case study</span>)-->
      
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 background">
      <div class="invisible-clear-button" ng-click="clearAll()"></div>
      <div class="popup" ng-class="{'expanded': thing.choiceMade, 'animated': clicked==true, 'fadeIn': clicked==true}" ng-repeat="thing in data.things" ng-style="popupStyle(thing)">
        <div> <!-- ng-if="!thing.choiceMade" -->
          <h4 ng-if="!thing.choiceMade" class="bubbleText visible-md visible-lg">{{thing.name}}</h4>
          <h6 ng-if="!thing.choiceMade" class="bubbleText2 visible-sm visible-xs">{{thing.name}}</h6>
          <p>
            <!--<button class="pure-button encourage" ng-click="makeSelection(thing, 'Encourages')">Encourages</button>
            <button class="pure-button hinder" ng-click="makeSelection(thing, 'Hinders')">Hinders</button>-->
          </p>
        </div>
        <!-- answer box-->
       
      

       <div class="" ng-if="thing.choiceMade"><!--animated fadeIn-->
       <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 returns">
       <h1 class="pull-left visible-md visible-lg">{{thing.name}} - Region</h1>
       <h3 class="pull-left hidden-md hidden-lg">{{thing.name}} - Region</h3>
       <div class="form-inline">
            <button class="btn btn-primary btn-md pull-right hidden-sm hidden-xs" ng-click="thing.choiceMade = false; unCheck();"><i class="fa fa-times"></i> Close</button>
            <button class="btn btn-danger btn-sm pull-right visible-sm" ng-click="thing.choiceMade = false"><i class="fa fa-times"></i></button>
            <!--thing.choiceMade = false-->
            <button class="btn btn-primary btn-md pull-right hidden-sm hidden-cs visible-md visible-lg" ng-click="thing.choiceMade = false" ng-style="{'margin-right':'10px'}"><i class="fa fa-question"></i> Help</button>
      <button class="btn btn-danger btn-sm pull-right visible-sm visible-xs hidden-md hidden-lg" ng-click="thing.choiceMade = false"><i class="fa fa-question"></i> Help</button>
      </div>
          </div>



         <!-- <div class="past col-md-8 col-sm-8 col-xs-8 col-lg-8" ng-style="{'background':'url(img/{{thing.zoomImages[1].link}}) no-repeat', 'background-size':'100% 100%', 'z-index': '3', 'position': 'relative !important', 'top': '500px'}"></div>-->

             <div class="zoomedIn col-md-8 col-sm-8 col-xs-8 col-lg-8"><!--<img ng-src="img/{{thing.zoomImages[0].link}}" class="img-responsive"/>-->
                  <!--default background-->
                  <img ng-src="img/{{thing.zoomImages[0].link}}" class="img-responsive thePast" ng-style="{'height': '100%', 'z-index': '10', 'position': 'absolute'}"/>
                  <!--country borders for present-->
                  <img ng-src="img/country_borders/{{thing.zoomImages[1].link}}" class="img-responsive thePresent" ng-style="{'height':'100%', 'z-index': '11', 'position': 'absolute'}" ng-if="change==true"/>

                  <!-- Landmarks for the places in the past -->
                  <img ng-src="img/{{places.link}}" class="img-responsive landmarks" ng-style="{'height':'100%', 'z-index': '12', 'position': 'absolute', 'top': places.top+'px', 'left': places.left+'px', 'height': places.height+'%'}" ng-repeat="places in data.things[$parent.$index].landmarks" ng-if="change==false"/>

                  <!--stars to click on for landmark images-->
                   <img ng-src="img/{{marker.landmarkImage.image}}" class="landmarksImage" ng-style="{'z-index': '13', 'position': 'absolute', 'top': marker.landmarkImage.top+'px', 'left': marker.landmarkImage.left+'px'}" ng-repeat="marker in data.things[$parent.$index].landmarks" ng-if="change==false" ng-click="openMe('lg', marker.fullSize, marker.landmarkImage.title, marker.landmarkImage.info)" tooltip="{{marker.landmarkImage.title}}" tooltip-placement="right"/>


                <div class="cityStars" ng-style="{'z-index': '15'}">
                  <div class="stars" ng-repeat="city in data.things[$parent.$index].Cities" ng-style="{'top': city.y+'px', 'left': city.x+'px', 'z-index': '15'}"><p><span>{{ city.name }}</span><img ng-src="img/{{city.marker}}" tooltip="{{city.name}}"/></p></div>
                  </div>
                  <div class="col-sm-6 twoButtons">
                    <div class="btn-group">
                      <label class="btn btn-default" ng-model="radioModel" btn-radio="Past" ng-click="change1=true; change=false" ng-class="{'activeButton': change1==true, 'deactiveButton': change1==false}">Past</label>
                      <label class="btn btn-default" ng-model="radioModel" btn-radio="Present" ng-click="change=true; change1=false;" ng-class="{'activeButton': change==true, 'deactiveButton': change==false}">Present</label>
                     </div>
                  </div>
             </div>
             <div class="repImage col-md-4 col-sm-4 col-xs-4 col-lg-4">
               <img ng-src="img/{{thing.repImage}}" class="img-responsive" alt="{{book.repImage}}" />
             </div>
             <div class="Books col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <accordion close-others="oneAtATime" class="visible-md visible-lg">
                   <accordion-group heading="{{book.name}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" ng-repeat="book in data.things[$parent.$index].Books">
                       <div class="imageBox col-md-4 col-xs-4 col-lg-4 hidden-sm hidden-xs"><p> <img ng-src="img/{{book.image}}" class="imageDesc img-responsive"/></p></div>
                       <div class="desc col-md-8 col-sm-12 col-xs-12 col-lg-8"><h5>{{ book.description }}</h5></div>
                    </accordion-group>
                </accordion>

                <accordion close-others="oneAtATime" class="visible-sm visible-xs">
                   <accordion-group heading="{{book.name}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" ng-repeat="book in data.things[$parent.$index].Books" class="lables">
                       <div class="imageBox col-md-4 col-xs-4 col-lg-4 hidden-sm hidden-xs"><p> <img ng-src="img/{{book.image}}" class="imageDesc img-responsive"/></p></div>
                       <div class="desc col-md-8 col-sm-12 col-xs-12 col-lg-8"><h5>{{ book.description }}</h5></div>
                    </accordion-group>
                </accordion>

             </div>
          
        </div>
   </div>
<div class="col-md-12">
      <div class="point" ng-repeat="thing in data.things" ng-style="pointStyle(thing)" ng-class="{'active': !thing.promptOpen, 'complete': thing.choiceMade}" ng-init="prompt($index)" ng-click="makeSelection(thing, 'Encourages')">
        <div class="pulse"></div>
        <button ng-click=""></button>
      </div>
      <img src="img/main_map.jpg" class="img-responsive">
  </div>
    </div>
  </div>
  </div>
</div>