<div class="lightbox" ng-show="data.caseStudyLightbox">
  <div class="lightbox-overlay" ng-click="toggleLightbox()">
  </div>
</div>
<div class="container">
<div class="row">
  <div class="pure-g">
    <div class="pure-u-1">
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 background">
      <div class="invisible-clear-button" ng-click="clearAll()"></div>
      <div class="popup" ng-class="{'expanded': thing.choiceMade, 'animated': clicked==true, 'fadeIn': clicked==true}" ng-repeat="thing in data.things" ng-style="popupStyle(thing)">
        <div> <!-- ng-if="!thing.choiceMade" -->
          <h4 ng-if="!thing.choiceMade" class="bubbleText">{{thing.name}}</h4>
          <p>
          </p>
        </div>
        <!-- answer box-->
       
      

       <div class="" ng-if="thing.choiceMade"><!--animated fadeIn-->
       <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 returns">
       <h3 class="pull-left"><i id="markers2" class="fa fa-map-marker"></i> <strong> {{thing.name}} - Region</strong></h3>
       <div class="form-inline">
            <button class="btn btn-primary btn-sm pull-right" ng-click="thing.choiceMade = false; unCheck();" tooltip="Close" tooltip-placement="top"><i class="fa fa-times"></i> Close</button>
            <!--thing.choiceMade = false-->
            <button class="btn btn-primary btn-sm pull-right" ng-click="thing.choiceMade = false" ng-style="{'margin-right':'10px'}" tooltip="Help" tooltip-placement="top"><i class="fa fa-question"></i> Help</button>
      </div>
          </div>

             <div class="zoomedIn col-md-8 col-sm-8 col-xs-8 col-lg-8 animated fadeIn">

                <!--Load Images for the Past-->
                <div class="pastInformation" ng-style="{'z-index': 12}" ng-if="change==false">
                  <img ng-repeat="d in thing.past.Images" ng-src="img/past/{{d.link}}" class="img-responsive thePast animated fadeIn" ng-style="{'height':'auto', 'z-index': '11', 'position': 'absolute'}"/>

                  <!-- cities-->
                  <div class="cityStars">
                  <button class="stars img-responsive animated fadeIn" ng-repeat="city in thing.past.Cities" ng-style="{'top': city.y+'px', 'left': city.x+'px', 'z-index': '15', 'position': 'absolute'}" popover="{{city.name}}" popover-is-open="False" popover-placement="{{city.placement}}"><i class="fa fa-map-marker"></i></button>
                  </div>

                  <!-- Landmarks for the places in the past-->
                  <img ng-src="img/past/{{places.link}}" class="img-responsive landmarks" ng-repeat="places in thing.past.landmarks" ng-style="{'z-index': '12', 'position': 'absolute', 'top': places.top+'px', 'left': places.left+'px', 'height': places.height}"/>

                   <!--button markers to click on for landmark images in the past-->
                   <button class="stars img-responsive" ng-repeat="landmark in thing.past.landmarks" tooltip="{{landmark.landmarkImage.title}}" tooltip-placement="right" ng-click="openMe('lg', landmark.fullSize, landmark.landmarkImage.title, landmark.landmarkImage.info)" ng-style="{'z-index': '15', 'position': 'absolute !important', 'top': landmark.landmarkImage.top+'px', 'left': landmark.landmarkImage.left+'px'}"><i class="fa fa-star landmarkMarker"></i>{{open}}</button>

                </div>

                  <!--Load Images for the Present-->
                <div class="presentInformation" ng-style="{'z-index': 13}" ng-if="change==true" ng-class="{animated: change==false, fadeOut: change==false}">
                  <img ng-repeat="x in thing.present.Images" ng-src="img/present/{{x.link}}" class="img-responsive thePresent" ng-style="{'height':'auto', 'z-index': '11', 'position': 'absolute'}"/>

                  <div class="cityStars">
                  <button class="stars img-responsive" ng-repeat="city in thing.present.Cities" ng-style="{'top': city.y+'px', 'left': city.x+'px', 'z-index': '15', 'position': 'absolute'}" popover="{{city.name}}" popover-is-open="False" popover-placement="{{city.placement}}"><i class="fa fa-map-marker"></i></button>
                  </div>
                </div>


                  <div class="col-sm-6 twoButtons">
                    <div class="btn-group">
                      <label class="btn btn-default btn-sm" ng-model="radioModel" btn-radio="Past" ng-click="change=false" ng-class="{'activeButton': change==false, 'deactiveButton': change==true}">Past</label>
                      <label class="btn btn-default btn-sm" ng-model="radioModel" btn-radio="Present" ng-click="change=true" ng-class="{'activeButton': change==true, 'deactiveButton': change==false}">Present</label>
                     </div>
                  </div>
             </div>


             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <img ng-src="img/{{thing.repImage}}" class="img-responsive" alt="{{book.repImage}}" />
               <h6 class="text-left" ng-style="{'margin-left': '15px'}"><strong>{{thing.name}} Selections</strong> <span class="label label-default pull-right">{{thing.Books.length}}</span></h6>
               <div class="Books">
                <accordion close-others="oneAtATime">
                   <accordion-group heading="{{book.name}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" ng-repeat="book in data.things[$parent.$index].Books" class="lables">
                      <!-- <div class="imageBox col-md-6"><img ng-src="img/{{book.image}}" class="imageDesc img-responsive"/></div>-->
                       <div class="desc col-sm-12"><p>{{book.description }}</p></div>
                       <div class="desc col-sm-12"><i class="fa fa-link"></i> <a ng-href="{{ book.link }}">Read more</a></div>
                    </accordion-group>
                </accordion>
                </div>
             </div>
          
        </div>
   </div>
<div class="col-md-12">
      <div class="point" ng-repeat="thing in data.things" ng-style="pointStyle(thing)" ng-class="{'active': !thing.promptOpen, 'complete': thing.choiceMade}" ng-init="prompt($index)" ng-click="makeSelection(thing, 'Encourages')">
        <div class="pulse"></div>
        <button ng-click=""><i class="fa fa-map-marker main_Marker"></i></button>
        
      </div>
      <img src="img/main_map.jpg" class="img-responsive">
  </div>
    </div>
  </div>
  </div>
</div>