body{
  background: #C0DFFC !important;
}

.jvectormap-container{
	background: #C0DFFC !important;
}

svg{
  background: #C0DFFC !important;
  height: 800px;
  width: 100% !important;
}

.ui-widget-overlay{
	background: #000 !important;
	opacity: 0.8 !important;
}

.jvectormap-zoomin, .jvectormap-zoomout{
	width: 30px !important;
	height: 30px !important;
}

.jvectormap-zoomin{
	top: 10px !important;
	padding-top: 10px !important;
}

.jvectormap-zoomout{
	top: 50px !important;
	padding-top: 10px !important;
}

.jvectormap-zoomin:hover, .jvectormap-zoomout:hover{
	background: #4C4B4B !important;
}

.wrapper{
	position: relative;
	bottom: -50px !important;
	z-index: 2;
	margin-left: 50px;
	background: #222222 !important;
	padding: 10px;
}

.ui-widget-header{
	background: none !important;
	border: none !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: #ffffff !important;
	border: 1px solid #ffffff !important;
}