<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3><strong>{{data.appTitle}}</strong></h3>
    </div>
    <div class="col-md-12 map">
      <div class="backgroundMap">
      <i class="marker markers pin" ng-repeat="marker in data.things" ng-style="{'top': marker.y+'px', 'left': marker.x+'px', 'position': 'absolute'}" ng-click="openMe('lg', marker.fullSize, marker.landmarkImage.title, marker.landmarkImage.info)"><b class="sonar"></b>
      </i>
        <img src="img/main_map.jpg" class=" bgimage img-responsive"/>
      </div>
      <div class="col-md-12 overlay">

      </div>
    </div>
  </div>
</div>