<div class="overlay" ng-click="oeMenuToggle('off')"></div>
<div class="menu animated fadeInLeft">
  <div class="menu-header">
    <a href="https://online.unlv.edu" target="_blank"><img class="oe-logo" src="//online.unlv.edu/sites/online.unlv.edu.oedrupal/libraries/base/Online_Education_500w_trimmed.png" alt="UNLV Online Education Logo"></a>
  </div>
  <ul>
    <li>
      <a ng-href="#/" ng-click="oeMenuToggle('off')">Link 1</a>
    </li>
    <li>
      <a ng-href="#/" ng-click="oeMenuToggle('off')">Link 2</a>
    </li>
  </ul>
</div>