html, body { 
	height: 100%; 
	margin-top: 3px; 
	padding: 0; 
	background: #f1f1f1;
}
 
  #map { 
  	height: 800px !important;
  }


.ui-widget-header{
	background: none !important;
	border: none !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: #ffffff !important;
	border: 1px solid #ffffff !important;
}

.bookArea{
}

.BookTitle{
	padding: 15px !important;
}

.hide{
	display: none;
}

.data{
	position: relative;
	top: -100px !important;
	min-height: 900px;
	height: auto;
	overflow-y: scroll;
}