/* app styles */

body{
	margin-top: 50px !important;
	background: #F7F7F7 !important;
}

div.lightbox {
	z-index: 999;
}

.container{
	/*width: 900px !important;*/
	/*width: 100% !important;
	min-width: 687px !important;
	max-width: 900px !important;*/
}

.backgroundMap{
	position: relative;
	display: inline;
}

.map{

}

.bgimage{
	min-width: 685px !important;
	max-height: 570px !important;
}

.marker {
	z-index: 2;
  display: block;
  position: relative;
  width: 1em;
  height: 1em;
  background: red;
  border-radius: 50%;
  animation: pulse 1s ease-in-out infinite alternate;
  box-shadow: 0 0 0 0.25em white, 0 0 3px rgba(0, 0, 0, 0.4);
}
.marker::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4em;
  height: 4em;
  margin-left: -2em;
  margin-top: -2em;
  box-shadow: 0 0 0 1px white;
  border-radius: 50%;
  animation: sonar 2s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale3d(0.8, 0.8, 0.8);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes sonar {
  0% {
    transform: scale3d(0.5, 0.5, 0.5);
    opacity: 1;
  }
  50%, 100% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
}

.marker {
  display: flex-item;
}
